
 .background {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(141, 202, 141));
    background-size: cover;
    padding: 1rem;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
   
    display: grid;
    /*I did 350 below because that's bigger than size of scenario (250px x 300px)
    and it gives a good fit*/
    grid-template-columns:repeat(auto-fit, minmax(350px,1rem)); 
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    justify-content: center;
    align-items: start;

    
    overflow-y: auto; /* Enables scrolling if content overflows */
   
    
}
