
/*
--color-white: #EDEDED;
--color-black: #2E2D2D;
--color-silver: #A3A2A2;
--color-primary: #77E1B8;
--color-primary-muted: #AED7C7;
--color-primary-light: #BCF0DC;
*/

/* .container {
    display: flex;
    height: 100vh;
} */
 
.background {


    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(141, 202, 141));
    background-size: cover;
    padding: 1rem;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
}