#login {
    flex-grow: 1;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10rem;
    background-color: var(--color-black);
    color: var(--color-white);
    padding: min(48px, 3rem);
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: conic-gradient(from 133deg at 50.00% 50.00%, var(--color-black) 0deg, var(--color-primary) 360deg);
}

.right>img {
    aspect-ratio: 1 / 1;
    width: min(100%, 100vh);
}

.title {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
}

.important {
    color: var(--color-primary);
}

.icon {
    display: flex;
    gap: 0.5rem;
}

.subtitle h1 {
    margin: 0;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 500;
    border-radius: 6px;
    border: 2px solid var(--color-silver);
    padding: 0.6em 1.2em;
    cursor: pointer;
    transition: border-color 0.25s;
    text-decoration: none;
    color: var(--color-black);
    background-color: var(--color-white);
}

.button:hover {
    border-color: var(--color-primary);
    color: var(--color-black);
}

.button:focus,
.button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

.googleButton {
    gap: 0.5rem;
}