.profileBackground {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(141, 202, 141));
    background-size: cover;
    flex-grow: 1;
    display: flex;
    padding: 6rem 2rem;
    gap: 4rem;
    justify-content: center;
}

.profile {
    display: flex;
    flex-direction: column;
}

.profileImage {
    width: 15rem;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid var(--color-primary);
    display: block;
    margin: 0 auto;
    transform: translateY(+15%);
}

.profileInfo {
    border-radius: 0.625rem;
    background-color: var(--color-white);
    padding: 1rem;
    padding-top: 2rem;
    width: 30vw;
    flex-grow: 1;
    max-width: 34rem;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.profileInfo>div {
    color: var(--color-silver);
}

.profileInfo .infoInput {
    color: var(--color-black);
}

.uploadButton {
    display: block;
    color: var(--color-white);
    margin: 2rem auto;
    border: none;
    font-family: 'Montserrat', sans-serif;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
    background-color: var(--color-black);
}

/*Note: actual font-size should be 1.75 rem according to Figma, 
but I can't seem to wrap around when I shorten gmail when 
I minimize tab size.*/
.infoInput {
    padding: 1 rem;
    font-size: 1.25rem;
    width: 30vw;
    max-width: 34rem;
    text-wrap: normal;
}

.fileInfo {
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
    border-radius: 0.625rem;
    background-color: var(--color-white);
    width: 30vw;
    max-width: 34rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.fileActions button {
    margin: 0.2rem;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    border-bottom: 1px solid rgb(198, 198, 198);
    text-align: center;
}
