#formBackground {
  background-color: var(--color-background);
}

#formSection {
  width: 75%;
  margin: 4rem auto 4rem auto;
}

#navButtons {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.deemphasizedButton,
.emphasizedButton {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.deemphasizedButton {
  background-color: var(--color-white);
}

.emphasizedButton {
  background-color: var(--color-black);
  color: var(--color-white);
  border-color: var(--color-black);
}