.accordion h4{
    margin: 0;
    padding: 0;
    font-size: 1.0rem;

    
}
.accordionTitle{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    border-bottom:solid 1px var(--color-silver);
}

.accordionContent{
    padding: 0.5rem;
}