#layout {
  display: inherit;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 5fr;
  overflow: hidden;
}
#pageContent {
  display: flex;
  flex-direction: column;
  grid-area: 1 / 2 / 3 / 3;
}
#pageContent>main {
  padding: 1rem;
}