#layout {
  height: inherit;
  width: inherit;
  overflow: hidden;
  flex-grow: 1;
}

#pageContent {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 20%;
  width: 80%;
  height: 100%;
  overflow-y: auto;
}

#content {
  display: flex;
  flex-direction: column;
  height: inherit;
  background-color: var(--color-white);
}