.navbar {
    display: flex;
    flex-direction: column;
    background-color: var(--color-black);
    color: var(--color-white);
    height: 100%;
    width: calc(100vw / 6);
    padding: min(2%, 3rem);
    box-sizing: border-box;
    position: fixed;
}
.navIcon {
    margin-bottom: 4rem;
}
#appName {
    margin: 0;
}
.navLinks {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.navLink {
    padding: 10px;
    text-decoration: none;
    color: var(--color-white);
    font-size: 20px;
}

.profileLink {
    margin-top: auto;
}
