.barContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.bar, .fill {
  height: 0.5rem;
}

.bar {
  display: flex;
  flex-direction: row;
  height: 0.5rem;
  padding: 0;
  border: none;
  outline: none;
  border-radius: 0;
  font-size: 0;
  width: 90%;
}

.fill {
  background-color: var(--color-primary);
  border: none;
}

.node {
  display: flex;
  justify-self: center;
  position: relative;
  top: -0.25rem;
  width: 1rem;
  height: 1rem;
  background-color: var(--color-silver);
  border-radius: 0.3rem;
}
.nodeText {
  margin: 0;
  font-size: 0.7rem;
}